body{
    background-color: white;
    text-align: center;
    margin: 0;
}

@font-face {
    font-family: inria_serif;
    src: url(Inria_Serif/InriaSerif-Regular.ttf);
  }

@font-face {
    font-family: inria_serif_bold;
    src: url(Inria_Serif/InriaSerif-Bold.ttf);
}

hr{
    height:1px; 
    width:60%; 
    border-width:0;
    color:black;
    background-color:black;
    margin: 7vh auto 4vh auto;
}

#wrapper {
    /* max-width: 1000px; */
    width: 100%;
    margin: auto;
}

.site_section {
    /* background-color: rgb(134, 192, 212); */
    height:2rem;
    margin-bottom:10px;
    width: 100%
}

#header {
    height: auto;
    background-color: #85957e;
    align-items: center;
    color: white;
    padding-top: 8vh;
    margin-top: 0px;
    margin-bottom: 0px;

    h1 {
        font-size: 5rem;
        font-family: inria_serif;
        letter-spacing: 0.4rem;
        font-weight: 500;
        margin-top: 0px;
        
        color: white;
    }

    a{
        text-decoration: none;
        color: #343434
    }
}

#header_kontakt {
    color: #85957e;
    padding-top: auto;
    /* margin-bottom: -10vh; */
    margin-bottom: 0vh;
    h2{
        font-size: 2rem;
    }
    
    a{
        text-decoration: none;
        color: #85957e;
        text-decoration: underline;
    }
}

#omslagsbild {
    height: 50vh;
    /* background-color: #91a489; */
    position: relative;
    /* margin-top: -12vh; */
    margin-top: 0vh;
    margin-bottom: 80vh;
    /* background-color: #ffffffC4; */
    /* background-color: red; */
    /* border-radius: 10px; */

    img {
        /* width: 100%; */
        /* height: 100%; */
        object-fit: cover;
        position: absolute;
        width: 100vw;
        height: 110vh;
        margin: auto;
        top: 5vh;
        left: 0vw;
    }

    div {
        background-color: #ffffffc4;
        position: absolute;
        width: 88vw;
        max-width: 865px;
        height: 82vh;
        border-radius: 30px;
        margin: auto;
        top: 30vh;
        left: 5vw;
        align-items: center;

        p {
            /* margin-top: 10vh; */
            margin: 8vh 6vw 8vh 6vw;
            font-family: inria_serif;
            font-size: 3vh;
            letter-spacing: 3px;
            color: #424242;
        }

        #notis {
            margin: 0vh 6vw 8vh 6vw;
            font-size: 1.4vh;
            letter-spacing: 1.7px;
            color: #424242;
        }
    }
}

#information {
    padding-top: 0;
    /* background-color: blueviolet; */
    height: auto;

    ul{
        margin: 0px;
        padding: 0px;
    }

    li{
        list-style-type: none;
    }

    img {
        width: 45%;
        max-width: 450px;
        height: auto;
    }

    #id1{
        font-family: inria_serif_bold;
        font-size: 2.7rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    #id2{
        margin-top: -1vh;
        font-family: inria_serif;
        font-size: 1.2rem;
    }

    #id3{
        padding-top: 4vh;
        font-family: inria_serif_bold;
        font-size: 1.7rem;
        font-weight: 700;
    }

    #id4{
        margin-top: -1vh;
        font-family: inria_serif;
        font-size: 1rem;
    }
}

#formular{
    max-width: 800px;
    margin: auto;
    height: auto;
    
    label{
        float: left;
    }

    h2{
        margin-bottom: 3vh;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: #ACBFA4;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #91a489;
    }
    
    /* Add a background color and some padding around the form */
    .container {
        border-radius: 5px;
        /* background-color: #f2f2f2; */
        background-color: #ffffff;
        padding: 20px;
    }
}

#tidsbokning {
    height: auto;
    background-color: transparent;
    /* margin-top: -12vh; */
    /* margin-bottom: 3vh; */

    .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #ACBFA4;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    height: 100%;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 40%;
    max-width: 400px;
    }

    .button-5:hover,
    .button-5:focus {
    background-color: #91a489;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    .button-5:hover {
    transform: translateY(-1px);
    }

    .button-5:active {
    background-color: #91a489;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
    }

    #tjanster{
        padding-top: 4vh;
        font-family: inria_serif_bold;
        letter-spacing: 4px;
        font-size: 1.4rem;
    }

    #bokningsinfo{
        padding-top: 3vh;
        font-family: sans-serif;
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    #lank{
        text-decoration: none;
        color: black;
    }
}

#las_mer {
    height: auto;
    
    align-content: center;
    align-items: center;


    p{
        font-family: inria_serif;
        font-size: 1.5rem;
        margin: 1rem 15vw;
        text-align: left;
        
        max-width: 800px;
        margin: auto;
    }
}

#footer {
    height: auto;
    background-color: #85957e;
    padding: 20px 0px;
    padding-bottom: 0.7rem;
    margin: auto;
    margin-top: 100px;
    /* max-width: 800px; */
    color:white;

    #id1 {
        font-family: inria_serif;
        font-size: 1.2rem;
        color: white;
    }

    #id2 {
        font-family: inria_serif;
        font-size: 1.1rem;
        color: white;
        white-space: pre;
        text-decoration: none;
    }

    #id3 {
        font-family: inria_serif;
        font-size: 0.8rem;

    }

    #id4{
        font-family: inria_serif;
        font-size: 1.1rem;
        color: white;
        white-space: pre;
        text-decoration: none;

        img{
            height: 2rem;
        }
        #padded {
            padding-left: 2.5%;
        }
    }

    h2{
        margin-top: 20px;
        margin-bottom: 50px;
    }

    a{
        text-decoration: none;
        color:white;
    }
}

#fragor{
    height: auto;

    #inte_mail{
        margin-bottom: 10px;
        font-weight: 300;
    }

    #mail{
        color:white;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 600;

        background-color: #85957e;
        border: 1px solid transparent;
        padding: 12px;
        border-radius: 10px;
        width: 35vw;
        max-width: 450px;
        height: 6vh;
        min-height: 55px;
        font-size: 2vh;
    }

    #mail:hover,
    #mail:focus {
    background-color: #91a489;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    #mail:hover {
    transform: translateY(-1px);
    }

    #mail:active {
    background-color: #91a489;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
    }
}

#teoretisk_grund{
    height: auto;
    p {
        font-family: inria_serif_bold;
        letter-spacing: 2px;
        font-size: 1.2rem;
        font-weight: 400;

        line-height: 2rem;
    }
}

/* @media (max-width: 542px){
    #omslagsbild > div > p{
        font-size: 1rem;
        letter-spacing: 3px;

    }


} */

@media (max-width: 900px) {
    #las_mer > p {
        max-width: 80vw;
    }
}

@media only screen and (max-width: 1100px) {
    #omslagsbild > div > p{
        font-size: 2.5vh;
        letter-spacing: 3px;

    }
  }

@media screen and (min-width: 1100px)  {
    .mobile-break { display: none; }
}